apiVersion: v1
data:
  application.yml: "server:\r\n  port: 8080\r\nspring:\r\n  application:\r\n    name:
    lottery-order\r\n  datasource:\r\n    driver-class-name: com.p6spy.engine.spy.P6SpyDriver\r\n
    \   schema: classpath:db/schema.sql\r\n    data: classpath:db/data.sql\r\n    url:
    jdbc:p6spy:h2:mem:test\r\n    username: root\r\n    password: test\r\n\r\n  kafka:\r\n
    \   bootstrap-servers: 10.55.56.101:9092 #指定kafka server的地址，集群配多个，中间，逗号隔开\r\n
    \   producer:\r\n      key-serializer: org.apache.kafka.common.serialization.StringSerializer\r\n
    \     value-serializer: org.apache.kafka.common.serialization.StringSerializer\r\n
    \   consumer:\r\n      group-id: default_consumer_group #群组ID\r\n      enable-auto-commit:
    true\r\n      auto-commit-interval: 1000\r\n      key-deserializer: org.apache.kafka.common.serialization.StringDeserializer\r\n
    \     value-deserializer: org.apache.kafka.common.serialization.StringDeserializer\r\n\r\nopentracing:\r\n
    \ jaeger:\r\n    enabled: false\r\n    udp-sender:\r\n      host: localhost\r\n
    \     port: 6831\r\n\r\nmanagement:\r\n  metrics:\r\n    tags:\r\n      application:
    ${spring.application.name}\r\n  endpoints:\r\n    web:\r\n      exposure:\r\n
    \       include: \"*\"\r\n\r\nrestsvc:\r\n  url: \"http://localhost:8080\"\r\n"
kind: ConfigMap
metadata:
  name: lotteryorder-configmap
  namespace: cjh
---
apiVersion: v1
kind: Service
metadata:
  name: lottery-order-app
  namespace: cjh
spec:
  ports:
  - name: http
    port: 8080
  selector:
    app: lottery-order-app
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: lottery-order-app
  namespace: cjh
spec:
  replicas: 2
  selector:
    matchLabels:
      app: lottery-order-app
  template:
    metadata:
      labels:
        app: lottery-order-app
    spec:
      containers:
      - env:
        - name: MEM_TOTAL_MB
          valueFrom:
            resourceFieldRef:
              resource: limits.memory
        image: 10.6.136.80:443/lottery-order:t2
        livenessProbe:
          httpGet:
            path: /actuator/health
            port: 8080
          initialDelaySeconds: 60
          periodSeconds: 10
        name: app
        ports:
        - containerPort: 8080
          name: http
          protocol: TCP
        readinessProbe:
          httpGet:
            path: /actuator/info
            port: 8080
          initialDelaySeconds: 60
          periodSeconds: 20
        resources:
          limits:
            memory: 1250Mi
          requests:
            memory: 1250Mi
        volumeMounts:
        - mountPath: /config
          name: lotteryorder-config
      volumes:
      - configMap:
          name: lotteryorder-configmap
        name: lotteryorder-config
